.switch-mode-button {
  background-color: $font-color;
  height: 2em;
  width: 2em;
  position:absolute;
  right: 0;
  top: 38%;

  @media only screen and (max-width: 480px) {
    left: 0;
    top: 33%;
  }
}

.mobile-hide {
  @media only screen and (max-width: 480px) {
    visibility: hidden;
  }
}

.mobile-star-1 {
  z-index: -2;
  top: 25%;
  left: 65%; 
  @media only screen and (max-width: 480px) {
    top: 75%;
    left: 82%;
  }
}

.mobile-star-2 {
  z-index: -2;
  top: 35%;
  left: 55%; 
  @media only screen and (max-width: 480px) {
    left: 15%;
  }
}

.mobile-star-3 {
  z-index: -2;
  top: 55%;
  left: 25%;
  @media only screen and (max-width: 480px) {
    top: 8%;
    left: 5%;
  }
}

.mobile-star-4 {
  top: 50%;
  left: 60%;
  z-index: -2;
  @media only screen and (max-width: 480px) {
    left: 10%;
    top: 20%;
  }
}

.mobile-star-5 {
  top: 75%; 
  left: 53%; 
  z-index: -2;
  @media only screen and (max-width: 480px) {
    left: 90%;
    top: 85%;
  }
}

.switch-mode-button:hover {
  filter: invert(100%);
}

a:link {
  color: $link-color;
}
a:visited {
  color: $link-color;
}

.moon {
  z-index: -1;
  left: 50%; 
  top: 7%; 
  
  @media only screen and (max-width: 480px) {
    top: 32%;
    left: 45%;
  }
}

.modal-window {
  position: fixed;
  background-color: $modal-background-fade;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  color: $background-color;
  & > div {
    border: 2px solid $background-color;
    outline: 6px solid $font-color;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: $font-color;

    @media only screen and (max-width: 480px) {
      padding: 1em;
      width: 80%;
      font-size: 1rem;
    }
    
    & > div {
      margin: 0 0 10px 0;
    }
    & > h2 {
      margin: 10px 0 25px 0;
      @media only screen and (max-width: 480px) {
        margin-bottom: 10px;
      }
    }
    & > h4 {
      margin: 10px 0 0 0;
      @media only screen and (max-width: 480px) {
        margin-top: 0px;
      }
    }
    & > ul {
      margin: 10px 0 0 0;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      list-style-position: inside;
      padding-inline-start: 10px;

      @media only screen and (max-width: 480px) {
        margin-top: 0px;
        padding-inline-start: 5px;
      }

      & > li {
        margin: 5px 10px 5px 10px;

        @media only screen and (max-width: 480px) {
          margin: 2px 5px 2px 5px;
          padding-inline-start: 5px;
        }

        & > a:link {
          color: $oppo-link-color;
        }
      }
    }
  }
}

.modal-close {
  color: map-get($pixel-color-map, "c") !important;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  padding-right:10px;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: $background-color !important;
  }
}

#dark-icon {
  color: $background-color;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1.5rem;
    background-color: $background-color;
    color: $font-color;

    @media only screen and (max-width: 480px) {
      font-size: 1.2rem;
    }
}

.text {
  text-shadow: 0 0 2px $background-color;
}

.title { 
    font-weight: bold;
    font-size: 3.5rem;
    @media only screen and (max-width: 480px) {
      font-size: 2rem;
    }
}

.sub-title { 
    font-weight: bold;
    font-size: 2.5rem;
    @media only screen and (max-width: 480px) {
      font-size: 1.4rem;
    }
}

.details {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    @media only screen and (max-width: 480px) {
      font-size: .8rem;
      margin-left: 8px;
    }
}

#pixel-box {
  position: flex;
  height: 100%;
}

.contact-box {
    margin-top:auto;
    font-size: 1.5em;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    order: 1;
    padding-bottom: 50px;
    @media only screen and (max-width: 480px) {
      font-size: 1em;
      margin-top: 1%;
    }
}

h3 {
  @media only screen and (max-width: 480px) {
    margin: 5px 0 5px 0;
  }
}

.projects-box {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 480px) {
      padding-bottom: 50px;
    }
}

#main {
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 998;
    padding: 0 5 0 5px;
    margin-right: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-self: end;
    @media only screen and (max-width: 480px) {
      flex-direction: column-reverse;
      flex-wrap: no-wrap;
    }
}

@import "../../node_modules/compass-mixins/lib/compass/css3";

$required-properties: (id, frames, colors);
$default-settings: (
  pixel-size: 10px,
  padding: 0,
  speed: 1s,
  offset: 1
);

@function strip-zero-unit($number) {
  @return if($number == 0, 0, $number);
}

@mixin setup-pixels($id, $frames, $colors, $pixel-size, $padding, $speed, $offset) {
  $width: str-length(nth(nth($frames, 1), 1));
  $height: length($frames);
  width: $width * ($pixel-size + $padding) - $padding;
  height: $height * ($pixel-size + $padding) - $padding;
  position: relative;

  &::after {
    content: "";
    width: $pixel-size;
    height: $pixel-size;
    display: block;
    left: -$pixel-size; // Correct for offset
    position: absolute;
  }
}

@mixin draw-frame($frames, $colors, $pixel-size, $padding, $index: 1) {
  $box-shadow: ();
  @for $i from 1 through length($frames) {
    $row: nth(nth($frames, $i), $index);
    @for $j from 1 through str-length($row) {
      $pixel: str-slice($row, $j, $j);
      $color: map-get($colors, $pixel);
      @if $color != transparent and $color != null {
        $x: ($j - 1) * ($pixel-size + $padding) + $pixel-size; // Offset to the right by one pixel so pixel (0, 0) isn't covered up
        $y: ($i - 1) * ($pixel-size + $padding);
        $box-shadow: append($box-shadow, strip-zero-unit($x) strip-zero-unit($y) $color, comma);
      }
    }
  }
  @include box-shadow($box-shadow);
}

@mixin draw-frames($id, $frames, $colors, $pixel-size, $padding, $speed, $offset) {
  $frame-count: length(nth($frames, 1));
  $starting-frame: random($limit: $frame-count);

  @if ($frame-count == 1) {
    @include draw-frame($frames, $colors, $pixel-size, $padding);
  }
  @else {
    animation: #{$id}-frames $frame-count * $speed * $offset steps(1) infinite;
    @keyframes #{$id}-frames {
      @for $i from 1 through $frame-count {
        #{calc(100% / $frame-count) * ($i - 1)} {
          @include draw-frame($frames, $colors, $pixel-size, $padding, $i);
        }
      }
    }
  }
}

@mixin pixel-art-item($id, $data) {
  $data: map-merge(map-merge($default-settings, $data), (id: $id));

  @each $property in $required-properties {
    @if not map-has-key($data, $property) {
      @error "The property `#{$property}` is required";
    }
  }

  ##{$id} {
    @include setup-pixels($data...);
    &::after {
      @include draw-frames($data...);
    }
  }
}

@mixin pixel-art($pixel-art, $settings: ()) {
  @each $id, $data in $pixel-art {
    @include pixel-art-item($id, map-merge($settings, $data));
  }
}

  $tiny-star: (
    frames: (
    "oeo""ooo",
    "eae""odo",
    "oeo""ooo"
    ),
    colors: $pixel-color-map,
    speed: 1.66s
  );
  $med-star: (
    frames: (
      "ooeoo""ooeoo""ooooo""ooooo""ooooo""ooooo""ooooo",
      "oefeo""oefeo""oefeo""oocoo""ooeoo""oocoo""oefeo",
      "efafe""efafe""ofafo""ocbco""oeceo""ocbco""ofafo",
      "oefeo""oefeo""oefeo""oocoo""ooeoo""oocoo""oefeo",
      "ooeoo""ooeoo""ooooo""ooooo""ooooo""ooooo""ooooo"
    ),
    colors: $pixel-color-map,
    speed: .82s,
  );
  $little-star: (
    frames: (
      "ece""ece""odo""oeo""odo",
      "cac""cac""dfd""ece""dfd",
      "ece""ece""odo""oeo""odo"
    ),
    colors: $pixel-color-map,
    speed: 1s
  );

  $moon: (
    frames: (
      "oooooooooooooooooooooooooo""ooooodoooooooooooooooooooo",
      "ooooocooooooccccoooooooooo""oooodbdooooooooooooooooooo",
      "oooooooooooocbbbcoooooodoo""ooooodooooooccccoooooooooo",
      "oooooooooooocbbbbcoooodbdo""oooooooooooocbbbcoooooocoo",
      "ooooooooooooocbbbbcoooodoo""oooooooooooocbbbbcoooooooo",
      "ooooooooooooocbbbbcooooooo""ooooooooooooocbbbbcooooooo",
      "ooooooccooooocbbbbcooooooo""ooooooooooooocbbbbcooooooo",
      "oooooocbcooocbbbbbcooooooo""ooooooccooooocbbbbcooooooo",
      "oooooocbbcccbbbbbbcooooooo""oooooocbcooocbbbbbcooooooo",
      "oooooocbbbbbbbbbbbcooooooo""oooooocbbcccbbbbbbcooooooo",
      "oooooocbbbbbbbbbbcoooooooo""oooooocbbbbbbbbbbbcooooooo",
      "ooboooocbbbbbbbbcooooooooo""oocooocbbbbbbbbbbcoodooooo",
      "ooooooooccbbbbbcoooocooooo""ooooooocbbbbbbbbcoodbdoooo",
      "oooooooooccccccooooooooooo""ooooooooccbbbbbcoooodooooo",
      "oooooooooooooooooooooooooo""oooooooooccccccooooooooooo"
    ),
    colors: $pixel-color-map,
    speed: 1.5s
  );

  $ground: (
    frames: (
      "ggooooooooooggooooooooogooooooooooooooooogooooooooogooooggooooooooooggooooooooogooooooooooooooooggoooooooooooooooogooooooooooooooooooooooooooooooogooooooggoooooooooooooooooooooogoooooooooooooooooooooooooooooggoooooooooooooooooooooooooooooooooooogooooooooooooooooooooooooooggooooooooooooooooooooooogoooooooooooooooggooooooooooooooooooooooooogggooooooooooo",
      "gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg",
      "gggggggggggggggggggggggggggggggggggggggggccccgggggggggggggggggggggggggggggggggggggggggggccccccccgggggggggggggggggggggggggggggggggggggggggggggcccccgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggcccccggggggggggggggggggggggggggggggggggggggggggggggggccccccccgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg",
      "ccccccccccccccccccccccccccccccccccccccccccddcccccccccccccccccccccccccccccccccccccccccccccddddddcccccccccccccccccccccccccccccccccccccccccccccccdddcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccdddccccccccccccccccccccccccccccccccccccccccccccccccccddddddccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc",
      "ddddcdcccddddddccddddcccccdddddddddddddcddddddddddddcdddddddcdcccddddddccddddcccccdddddddddddddddddcdddddddccddddddddddddddccccdddddcdccdddddddddddddcccccddddddcdcddddddddddddccdddddddddccccddddddddddddddcdddddddccddddcccccddddddddddddddcdddddddccddddccddcddddddcccdddddcdccddddccddddcddddddddddcccdddddcdccdddddddddddccddddcccccdddddddcccdddcccccddddddd",
      "ddddddddcdddddddddddddddcdddddddddddddddddddddddddddddddddddddddcdddddddddddddddcdddddddddddddddddddddddddddcdddddddddddddddddddddddddcdddddddddddddddcddcddddddddddddddddddddddddddddddddddcddddddddddddddddddddddddcdddddcddddddddddddddddddddddddddcdddddcdddddddddcddddddddddcdddddcdddddddddddddddcddddddddddcddddddddddddcdddddcdddddddddddcdddddcdddddddddd",
      "dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd",
      "dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd"    ),
    colors: $pixel-color-map
  );

@include pixel-art((
  tiny-star: $tiny-star,
  little-star: $little-star,
  med-star: $med-star,
  ground: $ground,
  moon: $moon
), (
  pixel-size: $pixel-size
));
